#logo {
    padding: 2rem;
    -webkit-mask-image: -webkit-gradient(
        linear, left top, right bottom, 
        color-stop(0.00,  rgba(0,0,0,0.8)),
        color-stop(0.499,  rgba(0,0,0,0.8)),
        color-stop(0.50,  rgba(0,0,0,1)),
        color-stop(1.00,  rgba(0,0,0,1)));    
}

.outer {
    color: #99F;
    animation: spin-outer 19s infinite linear;
    // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.middle {
    color: #77D;
    animation: spin-middle 20s infinite linear;        
}

.inner {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

@keyframes spin-outer {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spin-middle {
    from { transform: rotate(0deg) scale(0.8); }
    to { transform: rotate(360deg) scale(0.8); }
}

