#logo {
    padding: 1rem;
    font-size: 6rem;
    -webkit-mask-image: -webkit-gradient(
        linear, left top, right bottom,
        color-stop(0.00,  rgba(0, 0, 0, 0.9)),
        color-stop(0.509,  rgba(0, 0, 0, 0.8)),
        color-stop(0.51,  rgba(0, 0, 0, 1)),
        color-stop(1.00,  rgba(0, 0, 0, 1)));
}

.outer {
    color: #235070;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: rotate(-15deg);
}

.outer:hover {
    animation: spin-outer 8s infinite linear;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.outer:hover + .middle {
    animation: spin-middle 8s infinite linear;
}


.middle {
    color: #FFF;
    pointer-events: none;
    transform: rotate(0deg) scale(0.85);
}

.inner {
    color: #235070;
    pointer-events: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: scale(0.5);
}

@keyframes spin-outer {
    from { transform: rotate(-15deg); }
    to { transform: rotate(345deg); }
}

@keyframes spin-middle {
    from { transform: rotate(0deg) scale(0.85); }
    to { transform: rotate(380deg) scale(0.85); }
}

